


body {
    background: none
    font-family: Arial, sans-serif;
    text-align: center;
    color: white; /* Cambiar color de texto a blanco para contraste */
    margin: 0; /* Elimina margen por defecto del body */
    height: 100vh; /* Asegura que el cuerpo tenga al menos la altura de la ventana */
    overflow-y: auto; /* Permitir el desplazamiento vertical si el contenido es demasiado largo */
    position: relative; /* Necesario para posicionar el video en el fondo */
    z-index: 1; /* Asegura que el contenido se muestre sobre el video */
}


.disney {
position: relative;
}

.disney video {
opacity: 100%;
position: absolute;
top: 0%;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
 z-index: -1;
}

.marvel {
position: relative;
background-color: #990006;
}

.ganatomy {
position: relative;
background-color: #85C2B7;
}

.namsterdam {
position: relative;
background-color: #000000;
}



.disney-image {
    width: 30%;
    height: auto; /* Mantiene la proporción de la imagen */
    margin-bottom: 0%; /* Reducido el espaciado inferior para ajustar la posición */
    margin-top: 10%;
    text-align: center; /* Centra el contenido dentro del div */
}


.marvel-image {
    width: 30%; /* Ancho del 40% del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-bottom: 0%; /* Reducido el espaciado inferior para ajustar la posición */
    margin-top: 0%
    text-align: center; /* Centra el contenido dentro del div */
}
.ganatomy-image {
    width: 30%; /* Ancho del 40% del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-bottom: 0%; /* Reducido el espaciado inferior para ajustar la posición */
    margin-top: 0%
    text-align: center; /* Centra el contenido dentro del div */
}

.na-image {
    width: 34%; 
    height: auto; 
    margin-bottom: 0%; 
    margin-top: 0%
    text-align: center; /* Centra el contenido dentro del div */
}


h2 {
    margin-top: -8%; /* Reducido el margen superior para acercar el título a la imagen */
    font-family: 'Waltograph', sans-serif; /* Cambia 'NombreDeLaFuente' por el nombre de la fuente que deseas usar */
    font-size: 2em; /* Puedes ajustar el tamaño de la fuente según tus necesidades */
    font-weight: bold; /* Ajusta el grosor de la fuente si es necesario */
    color: #FFFFFF; /* Cambia el color si lo deseas */
    text-align: right; /* Opcional: centrar el texto */
    margin-right: 5%
}


.movie-list { 
 list-style: none;
position: relative;
    padding: 0;
    display: flex; /* Usar flexbox para alinear las películas horizontalmente */
    flex-wrap: nowrap; /* Permite que los elementos se envuelvan en varias líneas */
    justify-content: flex-start;  
    margin-top: 8%; 
margin-bottom: 0%;
    width: 100%; /* Asegura que la lista ocupe el ancho completo del contenedor */
overflow-x: auto;

}


.movie-list::-webkit-scrollbar {  
  width: 10px;  
  height: 10px;  
  background-color: transparent;  
  border-radius: 10px;  
}  
  
.movie-list::-webkit-scrollbar-thumb {  
  background-color: rgba(0, 0, 0, 0.2);  
  border-radius: 10px;  
}

.marvel-movie-list {
    list-style: none;
    padding: 0;
    display: flex; /* Usar flexbox para alinear las películas horizontalmente */
    flex-wrap: nowrap; /* Permite que los elementos se envuelvan en varias líneas */
    justify-content: flex-start; /* Centra las películas horizontalmente */
    margin-top: 0%; /* Reducido el margen superior para acercar la lista de películas al título */
    margin-bottom: 0%;
    width: 100%; /* Asegura que la lista ocupe el ancho completo del contenedor */
overflow-x: auto;
}

.marvel-movie-list::-webkit-scrollbar {  
  width: 10px;  
  height: 10px;  
  background-color: transparent;  
  border-radius: 10px;  
}  
  
.marvel-movie-list::-webkit-scrollbar-thumb {  
  background-color: rgba(0, 0, 0, 0.2);  
  border-radius: 10px;  
}

.gaseason-list {
    list-style: none;
    padding: 0;
    display: flex; /* Usar flexbox para alinear las películas horizontalmente */
    flex-wrap: nowrap; /* Permite que los elementos se envuelvan en varias líneas */
    justify-content: flex-start;  
    margin-top: 0%; 
margin-bottom: 0%;    width: 100%; /* Asegura que la lista ocupe el ancho completo del contenedor */
overflow-x: auto;

}


.gaseason-list::-webkit-scrollbar {  
  width: 10px;  
  height: 10px;  
  background-color: transparent;  
  border-radius: 10px;  
}  
  
.gaseason-list::-webkit-scrollbar-thumb {  
  background-color: rgba(0, 0, 0, 0.2);  
  border-radius: 10px;  
}




.naseason-list {
    list-style: none;
    padding: 0;
    display: flex; /* Usar flexbox para alinear las películas horizontalmente */
    flex-wrap: nowrap; /* Permite que los elementos se envuelvan en varias líneas */
    justify-content: flex-start;  
    margin-top: 0%; /* Reducido el margen superior para acercar la lista de películas al título */
    width: 100%; /* Asegura que la lista ocupe el ancho completo del contenedor */
overflow-x: auto;

}


.naseason-list::-webkit-scrollbar {  
  width: 10px;  
  height: 10px;  
  background-color: transparent;  
  border-radius: 10px;  
}  
  
.naseason-list::-webkit-scrollbar-thumb {  
  background-color: rgba(0, 0, 0, 0.2);  
  border-radius: 10px;  
}



@media tv {  
 .movie-list {  
   overflow-x: hidden; /* Remove scrollbar on TV screens */  
   flex-wrap: wrap; /* Allow elements to wrap to the next line */  
   justify-content: center; /* Center the elements horizontally */  
  }  
}


.movie-img, .season-img {
    width: 200px; /* Asegura que la imagen ocupe el 100% del ancho del contenedor de lista */
    height: 300px; /* Mantener la altura fija para la proporción deseada */
    object-fit: cover; /* Mantiene la proporción de la imagen y recorta el exceso si es necesario */
    border-radius: 8% ; /* Bordes redondeados para las imágenes */
    border: 13px solid transparent
}

.movie-img:hover { 
  /* Add a box shadow to create a highlighting effect */  
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);  
   
  /* You can also add other styles as needed, such as changing the opacity or background color */  
  opacity: 0.8;  
  background-color: #f2f2f2;  

}
.season-img:hover {  
  /* Add a box shadow to create a highlighting effect */  
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);  
   
  /* You can also add other styles as needed, such as changing the opacity or background color */  
  opacity: 0.8;  
  background-color: #f2f2f2;  
}


.caps {
    display: none; /* Ocultar el contenido por defecto */
    list-style: none; 
    padding: 0;
    margin: 2px;
    background-color: #333; /* Color de fondo para contraste */
    border-radius: 8px; /* Bordes redondeados para el fondo */
    columns: 2;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Sombra para el efecto de profundidad */
    
}

.caps a {
    display: block; /* Asegura que el enlace ocupe todo el ancho del elemento */
    padding: 0;
    color: white; /* Color del texto de los enlaces */
    text-decoration: none; /* Sin subrayado en los enlaces */
    width: 100%;

}

.caps a:hover {
    background-color: #555; 
}
