body { background-color: none; font-family: Arial, sans-serif; text-align: center; color: white; margin: 0; height: 0vh; overflow-y: auto; position: relative; z-index: 1; } 

.disney { position: relative; } .disney video { opacity: 100%; position: absolute; top: 0; left: 0; right: 0; width: 100%; height: 100%; object-fit: cover; z-index: -1; } 

.marvel {
    position: relative;
    z-index: 0; 
}

.marvel::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('Portadas/marvelb.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    opacity: 0.8;     
z-index: -1; 
}

.ganatomy { position: relative; z-index: 0; } 

.ganatomy::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('Portadas/ganatomyb.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    opacity: 0.8;     
z-index: -1; 
}


.namsterdam { position: relative; z-index: 0; } 

.namsterdam::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('Portadas/namsterdamb.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    opacity: 0.9;     
z-index: -1; 
}

.got { position: relative; z-index: 0; } 

.got::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('Portadas/gotb.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    opacity: 0.9;     
z-index: -1; 
}

.dreamworks { position: relative; z-index: 0; } 

.dreamworks::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('Portadas/dreamworksb.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    opacity: 0.9;     
z-index: -1; 
}


.disney-image { width: 30%; height: auto; margin-bottom: 0%; margin-top: 10%; text-align: center; } .marvel-image { width: 30%; height: auto; margin-bottom: 0%; margin-top: 0%; text-align: center; } .ganatomy-image { width: 30%; height: auto; margin-bottom: 0%; margin-top: 0%; text-align: center; } .na-image { width: 34%; height: auto; margin-bottom: 0%; margin-top: 0%; text-align: center; } 

.got-image { width: 30%; height: auto; margin-bottom: 0%; margin-top: 0%; text-align: center; } 

.dreamworks-image { width: 34%; height: auto; margin-bottom: 0%; margin-top: 1%; text-align: center; } 

h2 { margin-top: -8%; font-family: 'Waltograph', sans-serif; font-size: 2em; font-weight: bold; color: #FFFFFF; text-align: right; margin-right: 5%; } .movie-list { list-style: none; position: relative; padding: 0; display: flex; flex-wrap: nowrap; justify-content: flex-start; margin-top: 8%; margin-bottom: 0%; width: 100%; overflow: auto; } .movie-list::-webkit-scrollbar { width: 10px; height: 10px; background-color: transparent; border-radius: 10px; } .movie-list::-webkit-scrollbar-thumb { background-color: rgba(0, 0, 0, 0.2); border-radius: 10px; } .marvel-movie-list { list-style: none; padding: 0; display: flex; flex-wrap: nowrap; justify-content: flex-start; margin-top: 0%; margin-bottom: 0%; width: 100%; overflow: auto; } 


.marvel-movie-list::-webkit-scrollbar { width: 10px; height: 10px; background-color: transparent; border-radius: 10px; } .marvel-movie-list::-webkit-scrollbar-thumb { background-color: rgba(0, 0, 0, 0.2); border-radius: 10px; } .gaseason-list { list-style: none; padding: 0; display: flex; flex-wrap: nowrap; justify-content: flex-start; margin-top: 0%; margin-bottom: 0%; width: 100%; overflow: auto; } .gaseason-list::-webkit-scrollbar { width: 10px; height: 10px; background-color: transparent; border-radius: 10px; } .gaseason-list::-webkit-scrollbar-thumb { background-color: rgba(0, 0, 0, 0.2); border-radius: 10px; } .naseason-list { list-style: none; padding: 0; display: flex; flex-wrap: nowrap; justify-content: flex-start; margin-top: 0%; margin-bottom: 0%; width: 100%; overflow: auto; } .naseason-list::-webkit-scrollbar { width: 10px; height: 10px; background-color: transparent; border-radius: 10px; } .naseason-list::-webkit-scrollbar-thumb { background-color: rgba(0, 0, 0, 0.2); border-radius: 10px; } 

.gotseason-list { list-style: none; padding: 0; display: flex; flex-wrap: nowrap; justify-content: flex-start; margin-top: 0%; width: 100%; overflow: auto; } .gotseason-list::-webkit-scrollbar { width: 10px; height: 10px; background-color: transparent; border-radius: 10px; } .gotseason-list::-webkit-scrollbar-thumb { background-color: rgba(0, 0, 0, 0.2); border-radius: 10px; }

.dreamworks-movie-list { list-style: none; padding: 0; display: flex; flex-wrap: nowrap; justify-content: flex-start; margin-top: 0%; margin-bottom: 0%; width: 100%; overflow: auto; } .dreamworks-movie-list::-webkit-scrollbar { width: 10px; height: 10px; background-color: transparent; border-radius: 10px; } .dreamworks-movie-list::-webkit-scrollbar-thumb { background-color: rgba(0, 0, 0, 0.2); border-radius: 10px; }

 @media tv { .movie-list { overflow-x: hidden; flex-wrap: wrap; justify-content: center; } } .movie-img, .season-img { width: 200px; height: 300px; object-fit: cover; border-radius: 8%; border: 13px solid transparent; } .caps { display: none; list-style: none; padding: 0; margin: 2px; background-color: #333; border-radius: 8px; columns: 2; width: 100%; box-shadow: 0 4px 8px rgba(0,0,0,0.2); } .caps a { display: block; padding: 0; color: white; text-decoration: none; width: 100%; } .caps a:hover { background-color: #555; } 

.modal { display: none; position: fixed; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgba(0,0,0,0.8); } .modal-content { background-color: #fefefe; margin: 0; padding: 0; border: none; width: 100%; height: 100%; } .close { color: white; position: absolute; top: 10px; right: 10px; font-size: 24px; font-weight: bold; width: 42px; height: 42px; display: flex; align-items: center; justify-content: center; background-color: rgba(0, 0, 0, 0.5); border-radius: 5px; cursor: pointer; opacity: 100%; } .movie-img:hover { transform: scale(1.03); cursor: pointer; } .season-img:hover { transform: scale(1.03); cursor: pointer; } .close:hover { opacity: 1; background-color: grey; } .close:hover, .close:focus { color: white; text-decoration: none; } iframe { width: 100%; height: 100%; border: none; }
 
